body{
	margin:0;
	padding:0;
	background-color: white;
	font-family: helvetica;
}
.includes{
	box-sizing: border-box;
}
section{
	position: relative;
	float: left;
	margin-left:10px;
	width: 30%;
	border:2px solid black;
}
h1{
	margin: 0px;
	font-size: 30px;
	text-transform: uppercase;
	padding-left: 5px;
	position: absolute;
	top:0;
	right: 0;
}
#tophead{
	text-align: center;
	margin-top: 25px;
	margin-bottom: 40px;
	font-size: 50px;
}
p {
	margin-top: 50px;
	padding-left: 5px;
	font-size: 20px;
}