body{
	font-family: 'Oxygen', sans-serif;
}
#header-nav{
	background-color: #ccdbda;
	border-radius:0;
	border:0;
	height: 60px;
}
.navbar-brand{
	font-size: 2em;
	text-transform: uppercase;
	font-weight: bolder;
	text-shadow: 2px 2px 2px #222;
}
.navbar-brand a:hover
{
    text-decoration:none;	
}
h1{
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 2.1em;
	text-transform: uppercase;
	font-weight: 1.3em;
	text-shadow: 1px 1px 1px #222;
}
h2{
	text-align: center;
	font-size: 1.7em;
	text-transform: uppercase;
	font-weight: 1.3em;
	text-shadow: 1px 1px 1px #222;
}

h3{
	margin-top: 20px;
	text-align: center;
	font-size: 1.7em;
	text-transform: uppercase;
	font-weight: 1.3em;
	text-shadow: 1px 1px 1px #222;
}
h4{
	margin-top: 20px;
	text-align: center;
	font-size: 1.7em;
	text-transform: uppercase;
	font-weight: 1.3em;
	text-shadow: 1px 1px 1px #222;
}
.navbar-nav .nav-item{
	background-color: #ccdbda;
	text-align: center;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
    }